#fileForm_prev_image_view_box {
	max-width: 600px;
}

#fileForm_prev_image_view_box li {
	float: left;
}

#fileForm_prev_image_view_box li a {
	display: block;
	padding: 5px;
}

#fileForm_prev_image_view_box li img {
	width: 100px;
	height: 100px;
}

#fileForm_prev_image_view_box  li span {
	display: block;
	font-size: 9px;
	text-align: center;
	cursor: pointer;
}

#fileForm .fileFormRegisterBtn {
	margin: 15px 0;
}

#fileForm {
	font-size: 11px;
}

#fileForm input {
	border: 1px solid #dedede;
}

#fileForm .add-file-btn {
	text-align: right;
	margin: 5px 0;
}

#fileForm .file-submit-btn {
	clear: both;
	text-align: center;
}

#fileForm_progress{
	text-align:center;
	display:none;
}

